<div id="popup">
	<h2>Do You Want To Read More?</h2>
	<p>This is an example of speedbumper</p>
	<button name="confirm" value="yes" class="facebox-btn close">Read more</button>
	<button name="confirm" value="no" class="facebox-btn close">No Thanks</button>
</div>